{% extends 'base.html' %} {% block title %} Create Post {% endblock title %} {% block content_title
%}
<h3>New post</h3>
{% endblock content_title %} {% block content %}
<form class="col-md-6" action=" {{ url_for('posts.create_post') }} " method="POST">
  {% for input in form %}
  <div class="form-group">
    {{ input.label(class="control-label") }} {{ input(class="form-control") }}
  </div>
  {% endfor %}
  <br />
  <button type="submit" class="btn btn-primary">create</button>
</form>
{% endblock content %}
