{% extends 'base.html' %}
<br />
{% block content %}
<h4>{{ post.title }}</h4>
<div>{{ post.body }}</div>

{% for tag in post.tags %}
<a class="btn btn-primary" href="{{ url_for('posts.tag', slug=tag.slug )}}" role="button">
  {{ tag.name }}
</a>
{% endfor %}
<br /><br />
<div>
  <a href="{{ url_for('posts.edit_post', slug=post.slug)}}" class="btn btn-success">Change</a>
</div>

{% endblock content %}
