{% extends 'base.html' %} {% block title %} BluePrint {% endblock title %} {% block content_title %}
Post page {% endblock content_title %} {% block content %} {% for post in all_post %}
<li><a href="{{ url_for('posts.detail', slug=post.slug) }}"> {{ post.title }} </a></li>
{% endfor %} {% endblock content %}
