{% extends 'base.html' %}
<br />
{% block content %}
<h3>Post for <span> "{{ tag.name }}" tag: </span></h3>

<ul>
  {% for post in tag.posts %}
  <li><a href="{{ url_for('posts.detail', slug=post.slug) }}"> {{post.title}} </a></li>
  {% endfor %}
</ul>
{% endblock content %}
